<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Intelligence Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ url_for('index') }}">
            Company Intelligence Dashboard
        </a>

        <div class="d-flex gap-2">
            <a class="btn btn-outline-light"
               href="{{ url_for('searchHistory') }}">
                Search History
            </a>

            <a class="btn btn-danger"
               href="{{ url_for('logout') }}">
                Logout
            </a>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <form class="row g-2" method="POST">
        <div class="col-md-10">
            <input
                class="form-control form-control-lg"
                type="search"
                placeholder="Search Company Name..."
                name="companyName"
                required
            >
        </div>

        <div class="col-md-2">
            <button
                class="btn btn-success btn-lg w-100"
                type="submit">
                Search
            </button>
        </div>
    </form>
</div>

    <p class="text-center mt-3">Because of the API limitations, only companies based in the US can be searched.</p>
    {% if company_info != None %}
<div class="container mt-5">

    <div class="card shadow-lg">
        <div class="card-body">

            <div class="text-center mb-3">
            <img src="{{ company_info['logo'] }}"
                 alt="Company Logo"
                 class="img-fluid"
                 style="max-height:120px;">
            </div>

            <h2 class="card-title mb-4">
                {{ company_info["name"] or "N/A"}}
            </h2>

            <div class="row">

                <div class="col-md-6">
                    <p><strong>Country:</strong>
                    {{ company_info["country"] or "N/A" }}</p>

                    <p><strong>Industry:</strong>
                    {{ company_info["finnhubIndustry"] or "N/A" }}</p>

                    <p><strong>Phone:</strong>
                    {{ company_info["phone"] or "N/A" }}</p>
                </div>

                <div class="col-md-6">
                    {% if company_info['marketCapitalization'] > 1000 %}
                        {% market_cap = round(company_info['marketCapitalization']/1000, 2) %}
                        {% market_cap = f"${market_cap} Trillion" %}
                        {% endif %}
                        <p><strong>Market Cap:</strong>
                        {{ market_cap or "N/A" }}</p>
                    

                    <p><strong>Stock Exchange:</strong>
                    {{ company_info["exchange"] or "N/A" }}</p>

                    <p>
                        <strong>Website:</strong>
                        <a href="{{ company_info['weburl'] }}"
                           target="_blank">
                            Visit Website
                        </a>
                    </p>
                </div>

            </div>

        </div>
    </div>

</div>
{% endif %}    

    {% block content %}
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>