<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Intelligence Dashboard</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
        <a class="navbar-brand" href="{{ url_for('searchHistory') }}">Search History</a>
        <form class="d-flex" role="search" method="POST">
        <input class="form-control me-2" type="search" placeholder="Search Company Name" aria-label="Search" name="companyName"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </nav>

    <p class="text-center mt-3">Welcome to the Company Intelligence Dashboard! Please enter a company name in the search bar above to get started.</p>
    <p class="text-center mt-3">Because of the API limitations, only companies based in the US can be searched.</p>
    {% if company_info != None: %}
        <h2>{{ company_info["Name"] or company_info["name"] or "N/A"}}</h2>
        Company Address: {{ company_info["Address"] or "N/A" }}<br>
        Country: {{ company_info["Country"] or company_info["country"] or "N/A" }}<br>
        Company Phone: {{ company_info["Phone"] or company_info['phone'] or "N/A" }}<br>
        Company Website: <a href="{{ company_info["Website"] or company_info["OfficialSite" or N/A]}}" target="_blank">Visit Website</a><br>
        Industry: {{ company_info["Industry"] or company_info["industry"] or "N/A" }}<br>
        Market Cap: {{ company_info["MarketCap"] or company_info["MarketCapitalization"] or "N/A"}}<br>
        Stock Price: {{ company_info["StockPrice"] or "N/A" }}<br>
    {% endif %}    

    {% block content %}
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>