<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="#" method="POST">
        <input type="text" placeholder="Username" name="unm"> <br>
        <input type="text" placeholder="Password" name="pass"> <br>
        <input type="text" placeholder="Confirm Password" name="passw"> <br>
        <button type="submit">Sign Up</button>
        <p>{{ message }}</p>
        <a href="{{ url_for('login') }}">Already have an account? Login</a>
    </form>
</body>
</html>